.SearchWithHintsControl {
  position: relative;

  min-width: 400px;
  padding: 20px;

  background-color: #2b2b2b;
  border-radius: 6px;
  box-shadow: 0 0 14px 0 rgb(255 255 255 / 30%);

  @media screen and (max-width: 450px) {
    min-width: 300px;
  }
}

.SearchWithHintsControl__error {
  margin-top: 10px;

  color: rgb(255 38 38);
  font-weight: 600;
  font-size: 15px;
  text-align: center;
}
