.Button {
  min-width: 140px;
  padding: 0.5em 1em;

  color: white;
  font-size: 16px;

  background-color: #404040;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  transition: all 0.1s linear;

  &:hover {
    color: #404040;

    background-color: #eee;
  }
}
